
.body{
    /* width:768px;     */
    margin:0px;
    padding:0px;
    font-family:'TT Lakes','Arial';
    background-color: rgb(239, 239, 239);
}

main{ 
    margin:0px;
    padding:0px;
}
.header__border{
    border-bottom:1px solid blue;    
}
.header{
    display:flex;
    height:88px;
    background-color: white;
    flex-direction:row;
    gap:16px;
    padding-left:24px;
    padding-right:24px;   
}
    /* overflow-y:hidden; */
.header__logo{
    height:50px;
    align-self:center;
}
.header__icon{    
    align-self: center;
    height:40px;
    width:40px;
}
.header__scroll-icon{
margin-left:auto;
display:flex;
overflow-x:auto;
width:auto;
margin-top:auto;
margin-bottom:auto;
gap:16px;
}
/* overflow-x:auto */
.header__divider{
    height:32px;
    align-self:center;
}
.headimg{
    align-self:center;
    height:40px;
    width:40px;
}
.big-title-box__margins{
    margin-top:24px;
    margin-bottom:24px;
}
.big-title-box{
    display:flex;
    align-items:start;
    align-self: center;
    height:40px;
}
.big-title-box__title{
    box-sizing:border-box;
    display:block;
    height:100%;
    margin:0px auto 0px 0px; 
    /* border:3px solid green */
}
.big-title-box-menu-item{
    display:none;
    margin-right:32px;
}
.big-title-box-menu-item__text{
    align-self:center;
}
.big-title-box__highlight{
    margin-right:16px;
}
.row-of-titles{
    /* border:3px solid red; */
    display:flex;
    align-items:flex-start;
    overflow-x:auto;
    align-self: center;
    padding:0px;
}
.row-of-titles__margins{
    margin-top:32px;
    margin-bottom:32px;
    margin-left:16px;  
}
h1{
    font-size:16px;
}
.row-of-titles__services{
    white-space:nowrap;
    margin-right:5px;
    height:40px;
    /* border:3px solid blue;    */
    margin-right:16px;
    padding-top:auto;
    padding-bottom:auto;
    padding-right:16px;
    padding-left:16px;
}
.row-of-titles__services_highlighted{
    border:2px solid rgb(16, 171, 255);
    border-radius: 5px;
    background-color:white;
}    
.description{
    display:flex;
    flex-wrap:wrap;
}
.description__margins{
    margin-left:16px;
}
.description-text{
    flex-basis:300px;
    flex-grow:1;
}
.description-link{
    display:flex;
    gap:16px;
}
.description-link__margins{
    margin-top:16px;
    margin-bottom:16px;
}
.decription__text-of-link{
    font-size:16px;
    font-weight:500;
}
.description__icon-of-link>img{
src:'images\icon.svg';
}
.description__photo{
    flex-basis:300px;
    flex-grow:1;
}
@media (min-width:768px) and (max-width:1120px){
.description-text__content::after{
        white-space:pre-wrap;
        content:"\0a \0a Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера"
 }
}
@media (min-width:1120px) {
.header{
    display:none;
}
.big-title-box-menu-item{
    display:flex;
}
.description-text__content::after{
white-space:pre-wrap;
content:"\0a \0a Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким."
}
}