*{
  margin:0;
  padding:0;
}
body{
  background-color: #F8F8F8;
  font-family:'TT Lakes','Arial';
  font-size:16px;
  /* width:769px; */
}
.header__title{
  padding:16px;
  height:auto;
  background-color:white;
}
.swiper {
  width: auto;
  }
  .card{
    display:flex;
    align-items:stretch;
    justify-content:space-between;
    width:238px;
    /* background-color:red; */
    background-color: white;
    height:72px;
  }
  .card__border{
    border: 1px solid rgb(107, 107, 121);
    border-radius:5px;
  }
  .card__image{
    /* border:2px solid black; */
    margin:auto 0;
    margin-left:16px;
  }
  .card__arrow{
    margin:auto 0;
    margin-right:16px;
    background-image:url(../images/arrow.svg);
    width:40px;
    height:40px;
  }
  .swiper-slide__margin{
    margin-top:16px;
    width: auto !important;
  }       
  .block-show-all__littleArrow{
    display:none;
  }
  .block-show-all{
    /* border:2px solid red; */
    display:none;
  }
  .gradient-for-swiper-block{
    display:none;
  }