.body{
    display:grid;
    grid-template-areas:'left main'
    'left footer';
    
                        /* 'left main'; */
grid-template-columns: 320px 'auto'; 
}
.burger-window{
    display:block;
    grid-area:left;

    }
    .burger-window-options{
        height:100%;
    }

.main{
grid-area:main;
}
.burger-window__position{
    position:static;
}
.burger-window-transparent{
    display:none;
}
.footer{
grid-area:footer;
}
.header{
    display:none;
}
.big-title-box-menu-item{
    display:flex;
}
.description-text__content::after{
white-space:pre-wrap;
content:"\0a \0a Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера и заслужили репутацию надежного партнера, что подтверждает большое количество постоянных клиентов. Мы гордимся тем, что к нам обращаются по рекомендациям и, в свою очередь, советуют нас родным и близким."
}

.bottom-description{
    margin-top:16px;
    text-align:center;
}
.card{
    display:flex;
    align-items:stretch;
    justify-content:space-between;
    width:238px;
    /* background-color:red; */
    background-color: white;
    height:72px;
  }
  .card-service{
    display:flex;
    height:160px;
    background:white;
    padding:16px;
    box-sizing:border-box;
    width:224px;
    /* border:3px solid black; */
}
  .card-price-button{
    position:relative;
    right:16px;
    bottom:16px;
  }
  .burger-window-body .icon-exit{
    display:none;
  }