.card-service{
    display:flex;
    height:160px;
    background:white;
    padding:16px;
    box-sizing:border-box;
    /* border:3px solid black; */
}
.card-service__arrow{
    margin-top:auto;
    margin-right:16px;
    background-image:url(../images/arrow.svg);
    width:40px;
    height:40px;
}
.description-text__content::after{
  white-space:pre-wrap;
  content:"\0a \0a Мы успешно работаем с 1992 года и заслужили репутацию надежного партнера"
}
.burger-window-body{
  position:relative;
  right:100%;
  transition: transform 1s;
}

.burger-window-body_active{
  transform: translateX(320px);
}
.burger-window{
  transition: background-color 1s;
}
.burger-window_opacity{
  background-color:rgba(255, 255, 255, 0.5);
}

/* @media (min-width:768px){
    .manufacturers-main{
      /* padding:0 32px;
      padding-top:8px;
      padding-bottom:32px 
    }
    .manufacturers-block{
      padding-left:32px;
    }
    .swiper-wrapper{
      height:180px;
      display:flex;
      flex-wrap: wrap;
      justify-content: flex-start;
    }
    .swiper-wrapper_hidden{
      overflow:hidden;
    }
    .swiper-wrapper_opened{
      height:auto;
      transition: height ease-in 1s;
    }
    .block-show-all{
      /* border:2px solid red; 
      display:block;
      height:24px;
      background-color:transparent;
      border:none;
    }
    .block-show-all__margin{
      margin-top:24px;
    }          
      .block-show-all_show:after{
        content:'Показать всё';
      }   
      .block-show-all_hide:after{
        content:'Скрыть';
      }
      .block-show-all__littleArrow{
        display:inline-block;
        margin-right:10px;
      }
      .block-show-all_hide .block-show-all__littleArrow{
        transform:rotate(180deg)
      }
    }
  
  @media (min-width:768px) and (max-width:1120px){
      .card{
        width:222px;
      }
      .swiper-wrapper{
        column-gap:24px;
       }
      }
      @media (min-width:1120px) {
      .swiper-wrapper{
        column-gap:32px;
       } }    */