.burger-window{
    display:flex;
    font-weight:500;
    }
    
    .burger-window-options{
        /* background:white; */
        min-width:300px;
        flex-grow:0;
        position:relative;
        left:300px;
        /* transition-property:opacity;
        transition-duration:0.5s;
        transition-timing-function:ease; */
    }
    /* .burger-window-options::after{
        content:"";
        position:fixed;
        z-index:0;
        background:rgb(239, 239, 239);
        border:none;
        opacity:0.5;
        top:0;
        left:0;
        right:0;
        bottom:0;
    } */
    .burger-window_enabled{
        transform:translateX(-300px);
        animation-name:burgerGo;
        animation-duration:2s;
    }  
    @keyframes burgerGo{
    0%{
        transform:translateX(0);
    }
    100%{
        transform:translateX(-300px);
    }
    }
    .burger-window-transparent{
        flex-grow:1;
        background:rgb(239, 239, 239);
        opacity:0.5;
    }
    .burger-window__position{
        position:fixed;
        top:0px;
        left:0px;
        right:0px;
        bottom:0px;
        z-index:2;
    }
   .burger-window_disabled{
        display:none;
    }
.burger-window-body{
font-family:'TT Lakes','Arial';    
margin-right:auto;
background:white;
/* height:1024px; */
/* height: 100vh; */
padding:24px;
box-sizing:border-box;
height:100%;
display: flex;
/* border:3px solid rgb(33, 216, 112); */
flex-direction: column;
justify-content:flex-start;
box-shadow: 0 0 20px rgba(0,0,0,0.5);

}
.burger-window-header{
flex-grow:0;
display:flex;
padding:0px 0px;
}
.burger-window-footer{
flex-grow:0;
display:flex;
flex-direction:column;
margin-bottom:auto;
}
.header__logo{
    height:50px;
    align-self:center;
    margin-left:17px;
    margin-right:auto;
    /* margin-left:17px; */
}
.header__icon{    
    align-self: center;
    height:40px;
    width:40px;
}
.burger-window-row-of-titles{
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    align-self: left;
    padding:0px;
    gap:32px;
    flex-basis:100px;
    flex-grow:1;
    max-height:550px;
    /* margin-bottom:auto; */
    /* margin-left:16px; */
}
.burger-window-row-of-titles__margins{
    margin-top:50px;    
}
.burger-window-row-of-titles__services{
    display:flex;
    flex-direction:row;
    white-space:nowrap;
    /* border:3px solid blue;    */
    align-items:center;
}
.burger-window-row-of-titles__services_highlighted{
    /* border-left:5px solid rgb(16, 171, 255); */
    color:#7E7E82;
    background-color:white;
}
.footer-icons{
    display:flex;
    gap:16px;
    padding:0px 0px;
}
.footer-languages{
    display:flex;
    gap:7px;
    padding-top:40px;
    padding-bottom:8px;
}
.footer-email{
}
.footer-email__margins{
    margin-bottom:12px;
    margin-top:16px;
}
.footer-phone{
    font-size:24px;
    font-weight:bold;
}
.footer-languages__language{
}
.burger-window-row-of-titles__services_highlight{
    position:absolute;
    left:0px;
    opacity:0;

}
.burger-window-row-of-titles__services:hover .burger-window-row-of-titles__services_highlight{
    opacity:1;
    transition-property: opacity;
    transition-duration:0.3s;
    transition-timing-function:ease;
}
.burger-window-row-of-titles__services:hover{
    color:#7E7E82;
    transition-duration:0.3s;
    transition-timing-function:ease;   
}
.header__icon:hover{
    opacity:0.5;
    transition-property: opacity;
    transition-duration:0.3s;
    transition-timing-function:ease;
}
.footer-languages__language:hover{
    opacity:0.5;
    transition-property: opacity;
    transition-duration:0.3s;
    transition-timing-function:ease;
}