*{
  margin:0;
  padding:0;
}
.manufacturers-body{
  background-color: #F8F8F8;
  font-family:'TT Lakes','Arial';
  font-size:16px;
  /* width:769px; */
}
.manufacturers-header__title,.services-header__title,.prices-header__title{
  padding:16px;
  height:auto;
  background-color:white;
}
.manufacturersSwiper {
  /* width: auto; */
  margin-left:16px;
  /* overflow:hidden; */
}
.servicesSwiper{
margin-left:16px;
}
.pricesSwiper{
  margin-left:8px;
} 
 .card{
    display:flex;
    align-items:stretch;
    justify-content:space-between;
    width:238px;
    /* background-color:red; */
    background-color: white;
    height:72px;
  }
  .card-service{
    display:flex;
    justify-content:space-between;
    height:160px;
    background:white;
    padding:16px;
    box-sizing:border-box;
    /* border:3px solid black; */
}
.card-price{
  height:200px;
  background:white;
  padding:16px;
  box-sizing:border-box;
  width:260px;
  font-size:14px;
  /* border:3px solid black; */
}
.card-price-item__margins{
  margin-bottom:16px;
}
.CardPriceButton{
  position:relative;
  bottom:45px;
  left:110px;
}
  .card__border{
    border: 1px solid #EAEAEA;
    border-radius:5px;
  }
  .card__image{
    /* border:2px solid black; */
    margin:auto 0;
    margin-left:16px;
  }
  .card__arrow{
    margin:auto 0;
    margin-right:16px;
    background-image:url(../images/arrow.svg);
    width:40px;
    height:40px;
  }

.card-service__arrow{
    margin-top:auto;
    background-image:url(../images/arrow.svg); 
    background-repeat:no-repeat; 
    background-size:contain;
    width:40px;
    height:40px;
}
  .swiper-slide__margin{
    margin-top:16px;
    width: auto !important;
  }       
  .block-show-all__littleArrow{
    display:none;
  }
  .gradient-for-swiper-block{
    display:none;
  }

    /* .swiper{
  height:100px;
  } */
  .swiper-margin{
    margin-right:16px;
  }
  .gradient-for-swiper-block{    
    display:block;
  }      

     
